{% extends "base.html"%}
{%block title%}Home{%endblock%}
{%block body%}
    

<!-- Container for the about section -->
<div class="flex items-center justify-between flex-wrap p-6">
    <div class="bg-teal-800 rounded-2xl border border-black p-6 px-10 py-20 w-full">
        <h1 class="text-white text-6xl font-bold mb-2">About This Program</h1>
        <p class="text-black text-4xl">
            This is a tool to find the minimum distance between two words in a directed graph. A vertex is adjacent to another vertex if it is a synomym of the word it is connected to. Our program determines the similarity of two words by simply finding the shortest distance between two vertices in the graph.
        </p>

    </div>
</div>
<!-- Container for the input of the words and the algorithm -->
<form name="form">
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-10xl bg-white rounded-lg shadow-md p-6">
            <!-- Two containers for the two words the user will input-->
            <div class="grid gap-6 md:grid-cols-2">
                <div>
                    <label for="word 1" class="block mb-2 text-6xl font-medium">Word 1</label>
                    <input type="text" name="word1" id="word1" class="p-2 border border-gray-300 text-2xl rounded-lg w-full" required>
                </div>
                <div>
                    <label for="word 2" class="block mb-2 text-6xl font-medium">Word 2</label>
                    <input type="text" name="word2" id="word2" class="p-2 border border-gray-300 text-2xl rounded-lg w-full"  required>
                </div>
            </div>
            <!--The user will input a selection of dikkstra or bfs algorithm-->
            <div class="p-4">
                <label class="block mb-2 text-4xl">
                    <input type="radio" name="algorithm" value="dijkstra" class="mr-2 h-6 w-6">
                        Dijkstra's Algorithm
                </label>
                <label class="block mb-2 text-4xl">
                    <input type="radio" name="algorithm" value="bfs" class="mr-2 h-6 w-6">
                        BFS Algorithm
                </label>
            </div>
            <!-- On click of the button the results of the shortest path are updated on the same page -->
            <button id="btn" onclick="resultsUpdate(event)" type="submit" class="text-white bg-gray-900 hover:bg-gray-500 font-large rounded-lg text-m w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
        </div>
    </div>
</form>

<!-- Here is where the webpage is updated to include the results of the shortest path algorithm -->
<div class = "text-4xl text-center text-white">
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-10xl bg-white rounded-lg shadow-md p-6">
            <p class="text-4xl text-center text-black">Distance: </p>
            <p id="distance" class="text-4xl text-center text-black"> </p>  
            <p class="text-4xl text-center text-black">Time to compute: </p>
            <p id="time" class = "text-4xl text-center text-black"> </p>
            <div id="mynetwork"></div>
        </div>
    </div>
</div>


{%endblock%}
